asgiref==3.8.1
audioop-lts==0.2.1
crispy-bootstrap4==2024.10
Django==5.1.6
django-crispy-forms==2.3
django-tailwind==3.8.0
pydub==0.25.1
SpeechRecognition==3.14.2
sqlparse==0.5.3
standard-aifc==3.13.0
standard-chunk==3.13.0
typing_extensions==4.13.2
tzdata==2025.1
